* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    flex-direction: column;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #171717;
}

#navegacao{
    background: none !important;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
}

.container-fluid {
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}

select, input{
    box-shadow: none !important;
    height: 2.875rem !important;
    font-size: 16px !important;
    background: transparent !important;
    color: #fff !important;
    border: 2px solid #F30000 !important;
    border-radius: 30px !important;
    padding-left: 20px !important;
}

#botao{
    background-color: #F30000;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 40px;
}

.lupa{
    color: #fff;
}

#botao:hover{
    transition: 0.2s;
    background-color: #FD5757;
}

.buscar{
    width: 1500vw;
}

.valor{
    width: 100%;
}

.ano{
    width: 60%;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    justify-items: center;
    margin: 3rem 5rem;
}


.card {
    width: 11.25rem;
    height: 16.6rem;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 1s; 
    background-color: #F30000;
}

.card:hover {
    scale: 1.1; 
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.3s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 16px;
    overflow: hidden;
}

.card-back {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: rotateY(180deg); 
    flex-direction: column;
    padding: 1rem;
}

.mais{
    background-color: #F30000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.mais p{
    margin-top: -0.6rem;
}


